.progress-bar{
  position: fixed;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 99.5%;
  height: 10px;
  border: 1px solid #ccc;
  border-radius: 50px;
  .proceeding{
    width: 0%;
    height: 10px;
    background: skyblue;
    border-radius: 50px;
    transition: .1s;
  }
}

#container{
  height: 5000px;
}

.test{
  position: fixed;
  top: 0;
}
